<header class="bg-zinc-900 flex flex-col text-center md:flex-row p-20 gap-3 md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold mb-5">Protect Your Password</h1>
        <p class="mb-5">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos,
            minima.
        </p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-md mb-5"> Start Now</button>
    </div>
    <img src="images/fingerprint.svg" class="w-80" />
</header>
