---
import "../styles/Layout.css";
interface Props {
    title?: string;
}
const { title = "Landing Astro" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title} | InByTech</title>
    </head>
    <body>
        <main class="mx-auto container md:pt-10">
            <slot />
        </main>
    </body>
</html>
